[Unit]
Description=Log time on shutdown/reboot
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
ExecStart=sh /usr/share/log_on_shutdown
RemainAfterExit=yes

[Install]
WantedBy=shutdown.target reboot.target
